
.searchContent { 
    margin: 2.5rem;
}

.searchContent__results {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-top: 1rem;
}

.queryButtons {
    padding: .7rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2rem;
}