
/* .container {
    display: flex;
} */

/* .container > section {
    width: 50%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.container > section {
    background-color: #EDEDED;
    padding: 2rem;
    border-radius: .8rem;
}

.container > section > div > input {
    padding: 10px;
    outline: none;
    border-radius: 0.5rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 24rem;
}

.formContainer > button {
    background: #393838;
    color: white;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.extraButton {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 24rem;
}

.extraButton > button {
    background-color: white;
    border: none;
    border-radius: 1.5rem;
    padding: 12px 12px 12px 12px;
    box-shadow: 6px 4px 10px gray;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.extraButton > button > * {
    justify-self: center;
}
.extraButton  :hover {
    background-color: grey;
    color: white;
}

.extraButton > button > span {
    font-size: 0.9rem;
    padding: 0 4px 0 4px;
}


/* SIGN IN */

.signIn__container {
    /* background-color: gray; */
    
}

.signIn__container > section > div > input {
    padding: 10px;
    outline: none;
    border-radius: 0.5rem;
}


/* COMPLETE PROFILE PAGE */

.completeProfile__container {
    background-color: white;
    border-radius: .8rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tenantType {
    margin: 5rem 0;
}

.tenantType > button {
    padding: .8rem 3rem;
    margin-right: 1rem;
    cursor: pointer;
}