

/* ROOM LIST */
.roomlist__container {
    margin: 2.5rem;
    margin-top: 8rem;
}

.roomlist__lists {
    padding-top: 2.2rem;
    border-top: 0.2px solid lightgrey;
}

.roomlist__lists > div > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .8rem;
}


/* Room Detail page */

.roomDetail__container {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    margin: 2rem;
    margin-top: 8rem;
}

.roomDetails__detailsContainer {
    width: 40rem;
}

