

/* ROOM LIST */
.roomlist__container {
    margin: 1rem;
}

.roomlist__lists {
    padding-top: 2.2rem;
    border-top: 0.2px solid lightgrey;
}

.roomlist__lists > div > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .8rem;
}


/* Room Detail page */

.roomDetail__container {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin: 2rem;
}

.roomDetail__container > div:nth-child(1) {
    border: .1px solid gray;
    height: 20rem;
    width: 30rem;
}

