

/* room card */
.roomCard__container {
    height: 10rem;
    width: 24rem;
    border: 0.1px solid rgb(209, 209, 209);
    padding: .4rem;
    display: flex;
    gap: .6rem;
    border-radius: .8rem;
}

/* -------------- LEFT ----------------- */
.roomCard__imageContainer {
    width: 14rem;
    border: 0.1px solid rgb(209, 209, 209);
    border-radius: .8rem;
    overflow: hidden;
}

.roomCard__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ------------- RIGHT ------------ */
.roomCard__detailsContainer {
    width: 13rem;
    position: relative;
}

.roomCard__actionModal {
    position: absolute;
    right: 0;
    z-index: 50;
    background-color: white;
    border: .1px solid grey;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 4px 2px 12px rgb(212, 212, 212);
}

.roomCard__title {
    text-decoration: none;
    color: black;
    font-size: .9rem;
    font-weight: 600;
    text-transform: capitalize;
}

/* CREATE ROOM */
.createRoom__container {
    margin: 2rem 0;
}
.createRoom__container > div {
    padding: 0.8rem;
    background-color: #A39FFE;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createRoom__container > div > button {
    background-color: black ;
    color: white;
    padding: 0.6rem;
    display: flex;
    gap: 0.2re,;
    align-items: center;
    border-radius: 0.2rem;
    outline: none;
}

/* CREATE ROOM FORM */

.createRoomForm__container {
    /* padding: .2rem; */
}

.creatRoomForm__stepOne {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.createRoomForm__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
}

/* TOGGLE BUTTON */

.toggleButton__container {

}

.toggleButton__btnContainer {
    border: .2px solid gray;
    display: flex;
    border-radius: 1.1rem;
}
.toggleButton__btnContainer > button {
    border: none;
    border-radius: 1.1rem;
    cursor: pointer;
}


/* IMAGE INPUT */

.imageInput__featuredImage {
    border: .1px solid gray;
    border-radius: .2rem;
    padding:0.4rem;
    /* height: 15rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    flex-wrap: wrap;
}

.previewImage__container {
    position: relative;
    padding: .2rem;
}


/* ------- book button -------- */

.bookButton {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    background-color: unset;
    cursor: pointer;
    font-size: .9rem;
}